@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Just JSON Test</h2>
        <p>
            Site for get JSON and parse it on Phone.
        </p>
    </div>
</div>